<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-rtl.min.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- <button mat-raised-button (click)="openDisclaimerDialog()">test1</button> -->

<orestaurant-header  (search)="searchTermChanged($event)" [showSearchBar]="true" ></orestaurant-header>
<hr>
  
<orestaurants-list  [searchValue]="searchValue"  ></orestaurants-list>
<!--<orestaurant-footer    ></orestaurant-footer> -->
