# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
docs/3rdpartylicenses.txt
docs/3rdpartylicenses.txt
docs/favicon.ico
docs/main.c5198ebe02a0291c.js
docs/manifest.webmanifest
docs/ngsw-worker.js
docs/ngsw.json
docs/polyfills.059bfcfd7bd0f3b3.js
docs/runtime.c165d796577625e5.js
docs/safety-worker.js
docs/styles.ec1e6d7c05d3e005.css
docs/worker-basic.min.js
docs/app/assets/‏‏35_Hotel_Icon_Has_Restaurant - עותק.gif
docs/app/assets/35_Hotel_Icon_Has_Restaurant.gif
docs/app/assets/35_Hotel_Icon_Has_Restaurant.png
docs/app/assets/173px-Buffet_Germany.jpg
docs/app/assets/640px-Visit_a_Otranto_2013_04.jpg
docs/app/assets/28133426731_0200741203_w.jpg
docs/app/assets/bootstrap.rtl.full.min.css
docs/app/assets/Disclaimer.jpg
docs/app/assets/Document_Stack_(Resource_Documents)_NH_Icon.png
docs/app/assets/font-awesome.min.css
docs/app/assets/‏‏w09 - עותק.gif
docs/app/assets/w09.gif
docs/app/assets/icons/icon-72x72.png
docs/app/assets/icons/icon-96x96.png
docs/app/assets/icons/icon-128x128.png
docs/app/assets/icons/icon-144x144.png
docs/app/assets/icons/icon-152x152.png
docs/app/assets/icons/icon-192x192.png
docs/app/assets/icons/icon-384x384.png
docs/app/assets/icons/icon-512x512.png
